
.text-field{
    -fx-background-radius: 3;
    -fx-border-color: #6993a1;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
}


/*noinspection ALL*/
.button,.menu{
    -fx-background-color: #ff767e;
    -fx-background-radius: 0;
    -fx-padding: 4 12;
    -fx-font-family: "Mogra";
}

/*noinspection ALL*/
.button:hover{
    -fx-background-color: derive(#ff767e, 20%);
}

.button:pressed{
    -fx-background-color: derive(#ff767e, 50%);
    -fx-text-fill: gray;
}

.toggle-button{
    -fx-background-color: yellow;
    -fx-background-radius: 3;
    -fx-pref-width: 80px;
    -fx-padding: 4 12;
    -fx-font-family: "Mogra";
}

.toggle-button:hover{
    -fx-background-color: derive(yellow, 35%);
}

.toggle-button:selected{
    -fx-background-color: derive(yellow, -20%)
}

/*noinspection ALL*/
.root,.split-pane, .menu-bar {
    -fx-background-color: #aaebff;
}

/*noinspection ALL*/
.split-pane-divider{
    -fx-background-color: transparent;
    -fx-max-height: 0px;
    -fx-max-width: 0px;
}

