Mogra-Regular.ttf.root{
    -fx-base: #ffa900;

    -fx-background-color: derive(-fx-base, 70%)
}

.text-field{
    -fx-pref-width: 12em;
    -fx-max-width: -fx-pref-width;
    -fx-pref-height: 1em;
    -fx-max-height: -fx-pref-height;

    -fx-background-radius: 0px;
    -fx-region-background: transparent;
    -fx-border-width: 0 0 1.2 0;
    -fx-border-color: -fx-base;

    -fx-font-family: "Microsoft JhengHei UI";
    -fx-font-size: 1em;
    -fx-font-style: regular;

    -fx-border-insets: 5 10;
    }

.button{
    -fx-background-color: -fx-base;
    -fx-background-radius: 0;
    -fx-padding: 4 12;
    -fx-font-family: "Mogra";
}

.button:hover{
    -fx-background-color: derive(-fx-base, 20%);
}

.ToggleButton{
    -fx-background-color: yellow;
    -fx-background-radius: 0;
    -fx-pref-width: 60px;
    -fx-padding: 4 12;
    -fx-font-family: "Mogra";
}

.ToggleButton:hover{
    -fx-background-color: derive(yellow, 35%);
}

.ToggleButton:selected{
    -fx-background-color: derive(yellow, -20%)
}

.split-pane {
    -fx-background-color: derive(-fx-base, 70%);
}

.split-pane-divider{
    -fx-background-color: transparent;
    -fx-max-height: 0px;
    -fx-max-width: 0px;
}

