
/*noinspection ALL*/
.button{
    -fx-background-color: -fx-base;
    -fx-background-radius: 0;
    -fx-padding: 4 12;
    -fx-font-family: "Mogra";
}

/*noinspection ALL*/
.button:hover{
    -fx-background-color: derive(-fx-base, 20%);
}

.ToggleButton{
    -fx-background-color: yellow;
    -fx-background-radius: 0;
    -fx-pref-width: 60px;
    -fx-padding: 4 12;
    -fx-font-family: "Mogra";
}

.ToggleButton:hover{
    -fx-background-color: derive(yellow, 35%);
}

.ToggleButton:selected{
    -fx-background-color: derive(yellow, -20%)
}

/*noinspection ALL*/
.split-pane {
    -fx-background-color: derive(-fx-base, 70%);
}

/*noinspection ALL*/
.split-pane-divider{
    -fx-background-color: transparent;
    -fx-max-height: 0px;
    -fx-max-width: 0px;
}

